nav{
	background: #000000;
	background: -webkit-linear-gradient(to left, #000000, #434343);
	background: linear-gradient(to left, #000000, #434343);
	height: 13vh;
}

.logo{
	height: 13vh;
}

.pages-nav{
	font-family: 'Merienda', cursive;
}

li{
	padding-top: 1vh;
}
