<footer class="page-footer z-depth-5">
  <div class="row-footer">
    <div class="container col-footer l4 s4">
      <div class="center">
          <h5>Encontre-nos!</h5>
      </div>
        <a class="midia-social" href="https://www.google.com/maps/place/Centro,+Rio+de+Janeiro+-+RJ/@-22.9005057,-43.1956282,14z/data=!3m1!4b1!4m5!3m4!1s0x997f5e151c7217:0x7ffdf9c2fc30b97d!8m2!3d-22.9070828!4d-43.1819148"><img class ="img-footer" src="assets/imagens/maps.svg"></a> Rio de Janeiro-RJ
        <a class="midia-social" href="https://web.whatsapp.com/"><img class="img-footer right" src="assets/imagens/zap.svg"></a>    
        <a class="midia-social" href="https://www.facebook.com"><img class="img-footer right" src="assets/imagens/fb.svg"></a>
        <a class="midia-social" href="https://www.twitter.com/"><img class="img-footer right" src="assets/imagens/tt.svg"></a>
        <a class="midia-social" href="https://www.instagram.com/"><img class="img-footer right" src="assets/imagens/ig.svg"></a> 
    </div>
  </div>
  <div class="footer-copyright">
     © 2019 Todos os direitos reservados.
  </div>
</footer>  