<div class="container about-us">
	<div class="container image-bat">
		<img class="img-bats" src="assets/imagens/bats.jpg">
	</div>
	<div class="text-center center">
		<h1>Quem somos?</h1>
	</div>
	<div class="row text-about-us">
		<div class="col l5 s4">
			 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis posuere orci, vitae rutrum massa facilisis a. Donec ultricies volutpat posuere. Fusce lacinia urna vitae turpis imperdiet, at malesuada ex laoreet. Morbi facilisis tellus quis nisl iaculis, ut maximus orci laoreet. Curabitur sagittis massa in felis facilisis tempor. Etiam id rhoncus mauris. Integer dignissim venenatis augue, et egestas tortor dignissim non. Aenean nec iaculis eros, eget aliquam nunc. Vestibulum ac purus ac felis mattis tincidunt. Donec a porta elit, vitae vestibulum nisi. Maecenas in sapien sit amet velit consectetur porttitor et laoreet dui. Proin tristique fermentum elit, sit amet semper tortor consectetur a. Nunc eu dignissim urna.</p>

			<p>Morbi ut efficitur dui, ac eleifend turpis. Donec vehicula, lectus sed sodales faucibus, purus neque efficitur nisl, vel molestie risus nibh nec augue. Duis eu rutrum augue. Maecenas sit amet sem metus. Praesent vitae nunc tincidunt, dignissim dui ut, facilisis arcu. Praesent sem nulla, sodales vitae turpis at, pretium vehicula sem. Aliquam non tempus dui, at porttitor nulla. Quisque quis diam nec nulla posuere molestie. Vestibulum a enim quis urna porta porttitor sit amet vitae dolor. In venenatis sapien feugiat efficitur iaculis. Duis vel augue volutpat purus sodales posuere. Etiam mollis urna sed lectus tincidunt, pharetra bibendum mi tristique.</p>
		</div>
		<div class="row right text-about-us2 col l5 s4 ">
			<h4>Missão</h4>
				<p>Promover e defender os direitos dos morcegos, com foco na resolução da questão extinção, tráfico e apoiando programas que visem preservar sua integridade física.</p>
			<h4>Visão</h4>
				<p>Ser reconhecida pela relevância, mérito e impacto das suas ações, bem como pela luta em favor da população animal violada e ameaçada em sua dignidade e integridade.</p>
			<h4>Valores</h4>
				<p>Ética, transparência e integridade</p>
				<p>Responsabilidade ambiental</p>
				<p>Qualidade e compromisso com resultados</p>
				<p>Multiplicação de conhecimento e experiência</p>
				<p>Compromisso com a comunidade</p>
		</div>
	</div>
</div>